{% extends "./base.html" %}
{% load crispy_forms_tags %}
{% block content %}
       <h1>Order-item</h1> 
           <form method="POST">
                  {% csrf_token %}
                  {{form|crispy}}
                  <input type="submit" class="btn btn-success">
           </form> 
           {% if msg %}
               {{msg}}
           {% endif %}
        <table class = "table, table-striped">
            <thead>
                <tr>
                    <th scope = "col">menu_id</th>  
                    <th scope = "col">customer_order_id</th>
                    <th scope = "col">Quantity</th>  
                    
                <tr>
            </thead>
             <tbody>
                {% for orderitem in orderitems %}
                    <tr>
                        <th scope = "row">{{orderitem.id}}</th>
                        <td> {{orderitem.menu_id}} </td>
                        <td> {{orderitem.customer_order_id}} </td>
                        <td> {{orderitem.Quantity}} </td>
                        
                        <td>
                            <a href = "{% url 'edit_order_item_page' orderitem.id %}" >Edit </a>
                            <a href = "  {% url 'delete_order_item_page' orderitem.id %}" 
                               onclick ="return confirm('Are you sure you want to delete')">Delete
                            </a>
                        </td>

                    <tr>
                {% endfor %}
            </tbody>
        </table>
        
            
       <a href ="{% url 'home_page'%} " >home_page</a>
{% endblock content %}