
{% extends "./base.html" %}
{% load crispy_forms_tags %}
{% block content %}
       <h1>Waiter</h1> 
       
           <form method="POST">
                  {% csrf_token %}
                  {{form|crispy}}
                  <input type="submit" class="btn btn-success">
           </form> 
           {% if msg %}
               {{msg}}
           {% endif %}
       
        <table class = "table, table-striped">
            <thead>
                <tr>
                    <th scope = "col">first_name</th>
                    <th scope = "col">last_name</th>
                    <th scope = "col">contact</th>
                    <th scope = "col">gender</th>
                <tr>
            </thead>
             <tbody>
                {% for waiter in waiters %}
                    <tr>
                        <th scope = "row">{{waiter.id}}</th>
                        <td> {{waiter.first_name}} </td>
                        <td> {{waiter.last_name}} </td>
                        <td> {{waiter.contact}} </td>
                        <td> {{waiter.gender}} </td>
                        <td>
                            <a href = "{% url 'edit_waiter_page' waiter.id %}" >Edit </a>
                            <a href = "  {% url 'delete_waiter_page' waiter.id %}" 
                               onclick ="return confirm('Are you sure you want to delete')">Delete
                            </a>
                        </td>

                    <tr>
                {% endfor %}
            </tbody>
        </table>
        
            
       <a href ="{% url 'home_page'%} " >home_page</a>
{% endblock content%}
