<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Our categories </h1>
    This contains the categories of meals served at Bestfoods restuarant.
    <h2>category-form</h2>
     <form  action="" id="form">
        <p><input type="number" class="input-control" id="" placeholder="category-id"></p>
        <p><input type="text" class="input-control" id="" placeholder="name"></p>
        <p><input type="number" class="input-control" id="" placeholder="date"></p>
     </form>
    <a href ="{% url 'home_page'%} " >home_page</a>
</body>
</html>