<!DOCTYPE html>
< lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Order</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Customer_orders</h1>
        <h2>customer-form</h2>
        <form action="">
           <p><input type="number" name="" id="" placeholder="order-id"></p> 
           <p><input type="text" name="" id="" placeholder="status"></p>
           <p><input type="number" name="" id="" placeholder="waiter-id"></p>
           <p><input type="number" name="" id="" placeholder="date"></p>
           <p><button>submit</button>
        </form> 
    <p>This table contains our customer orders</p>
      <a href ="{% url 'category_page'%} " >category_page</a>
      <a href ="{% url 'home_page'%} " >home_page</a>

</body>
</html>