{% extends "./base.html" %}
{% load crispy_forms_tags %}
{% block content %}
     <h1> Edit-{{customerorder.table_no}}</h1>
     <h1> Edit-{{customerorder.waiterid}}</h1>
     <h1> Edit-{{customerorder.order_status}}</h1>
     <h1> Edit-{{customerorder.order_date}}</h1>
     
        <form method = "POST">
             {% csrf_token %}
             {{form}}
             <input type ="submit" class= "btn btn-primary">
             <input type = "button" class = "btn btn-danger">
             {% if message %}
                   {{message}}
             {% endif %}
        </form>
{% endblock content %}
