
{% extends "./base.html" %}
{% load crispy_forms_tags %}
{% block content %}
     <h1> Edit-{{fooditem.name}}</h1>
     <h1> Edit-{{fooditem.category_id}}</h1>
     
        <form method = "POST">
             {% csrf_token %}
             {{form}}
             <input type ="submit" class= "btn btn-primary">
             <input type = "button" class = "btn btn-danger">
             {% if message %}
                   {{message}}
             {% endif %}
        </form>
     
{% endblock content %}
