<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu item</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Menu items </h1>
    <form action="">
     <input type="number" name="" id="" placeholder="id">
     <input type="number" name="" id="" placeholder="menu-id">
     <input type="number" name="" id="" placeholder="quantity">
      <input type="number" name="" id="" placeholder="food-item-id">
   </form> 
     <p>This contains the specific items on the menu</p>
         <a href ="{% url 'home_page'%} " >home_page</a>
</body>
</html>