<!DOCTYPE html>
<htmllang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Menu page </h1>
    <form action="">
     <input type="number" name="" id="" placeholder="menu-id">
     <input type="text" name="" id="" placeholder="name">
     <input type="number" name="" id="" placeholder="price">
   </form> 
    <p>This is our menu at Bestfoods restuarant.</p>
    <h2>menu image</h2>
    <img src="images/m038t0013_c_food_menu_06jul23.jpg" id="menu-image" alt="Menu pictures">
    <a href ="{% url 'home_page'%} " >home_page</a>
</body> 
</html>