<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order_item</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
      
    <h1>Order_items </h1>
    <h2>order-form</h2>
     <form>
        <p><input type="text" class="input-control" id="Order-no" placeholder="Order-no"></p>
        <p><input type="text" class="input-control" id="customer-id" placeholder="customer-id"></p>
        <p><input type="text" class="input-control" id="order-details" placeholder="order-details"></p>
        <p><input type="text" class="input-control" id="waiter-id" placeholder="waiter-id"></p>
        <p><input type="text" class="input-control" id="date" placeholder="date"></p>
        <button>order-now</button>
     </form>
     <p>This contains the specific items on the order</p>
    <a href ="{% url 'home_page'%} " >home_page</a>
</body>
</html>