<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant_table</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Restaurant_table</h1>
    <form action="">
     <input type="number" name="" id="" placeholder="table-id">
     <input type="number" name="" id="" placeholder="table-no">
     <input type="number" name="" id="" placeholder="capacity">
      <input type="text" name="" id="" placeholder="status">
     
   </form> 
    <p>Specific details abt a given table in our restaurant</p>
    <h2>Restaurant_table</h2>
<a href ="{% url 'home_page'%} " >home_page</a>

</body>
</html>